body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --xsmall-callout: "SF Pro Text";
  --title2-regular: "SF Pro Display";
  --desktop-text-small-tight: Poppins;
  --font-inherit: inherit;
  --font-sf-pro-rounded: "SF Pro Rounded";
  --body-sm-regular: Inter;

  /* font sizes */
  --xsmall-callout-size: 13px;
  --large-default-subhead-size: 15px;
  --large-default-body-size: 17px;
  --font-size-3xl-5: 22.5px;
  --desktop-link-small-size: 16px;
  --display-sm-bold-size: 30px;
  --title2-regular-size: 22px;
  --caption1-regular-size: 12px;
  --font-size-3xs: 10px;
  --font-size-64xl: 83px;
  --title3-regular-size: 20px;
  --body-sm-regular-size: 14px;
  --desktop-link-medium-size: 18px;
  --font-size-7xl: 26px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --display-lg-bold-size: 48px;
  --display-md-bold-size: 36px;
  --display-xl-bold-size: 60px;

  /* Colors */
  --color-whitesmoke-100: rgba(237, 237, 237, 0.8);
  --color-whitesmoke-200: rgba(245, 245, 245, 0.6);
  --label-color-light-primary: #000;
  --label-color-dark-primary: #fff;
  --default-systemblue-light: #007aff;
  --color-lightslategray: #848e99;
  --neutral-300: #d1d5db;
  --color-gray-100: #fcfcfe;
  --grayscale-background: #fcfcfc;
  --grey: #292929;
  --grayscale-header: #14142b;
  --color-gray-200: #151515;
  --dark-backgeound: #101010;
  --color-gray-300: rgba(255, 255, 255, 0.94);
  --secondary-900: #2a4e51;
  --neutral-700: #374151;
  --color-darkslategray-100: rgba(60, 60, 67, 0.3);
  --label-color-light-secondary: rgba(60, 60, 67, 0.6);
  --separator-color-light-with-transparency: rgba(60, 60, 67, 0.36);
  --default-systemred-light: #ff3b30;
  --error-background-strong: #ffabe8;
  --primary-background-strong: #bfbefc;
  --warning-background-strong: #ffe6b0;
  --primary-default: #610bef;
  --color-blue-100: rgba(0, 0, 255, 0.6);
  --success-default: #008a00;
  --color-ghostwhite-100: #f2f2f7;
  --grayscale-input: #eff0f6;
  --neutral-200: #e5e7eb;
  --systemgray-05-light: #e5e5ea;
  --color-limegreen: #00d02e;
  --primary-600: #fdd835;
  --secondary-300: #75e3ea;
  --color-khaki: #fff176;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-smi: 13px;
  --gap-11xs: 2px;
  --gap-5xl: 24px;
  --gap-14xl: 33px;
  --gap-13xl: 32px;
  --gap-45xl: 64px;
  --gap-11xl: 30px;

  /* Paddings */
  --padding-base: 16px;
  --padding-2xs: 11px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-xs: 12px;
  --padding-lg: 18px;
  --padding-13xl: 32px;
  --padding-8xs: 5px;
  --padding-29xl: 48px;
  --padding-sm: 14px;
  --padding-93xl: 112px;
  --padding-61xl: 80px;
  --padding-77xl: 96px;
  --padding-5xl: 24px;

  /* border radiuses */
  --br-smi: 13px;
  --br-8xs-3: 4.3px;
  --br-81xl: 100px;
  --br-sm: 14px;
  --br-xl: 20px;
  --br-mini: 15px;
  --br-8xs-6: 4.6px;
  --br-6xs: 7px;
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-3xl: 22px;
  --br-21xl: 40px;
  --br-40xl-3: 59.3px;

  /* Effects */
  --elevation-4: 0px 35px 40px rgba(0, 0, 0, 0.06);
  --shadow-2xl: 0px 24px 48px -12px rgba(17, 24, 39, 0.25);
  --shadow-md: 0px 4px 8px -2px rgba(17, 24, 39, 0.1),
    0px 2px 4px -2px rgba(17, 24, 39, 0.06);
}
