.group-child,
.mainscreen1 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child {
  background-color: #e2b8b8;
  width: 2636px;
  height: 909px;
}
.mainscreen1 {
  background-color: var(--label-color-dark-primary);
  width: 375px;
  height: 812px;
}
.label-2,
.starfill-icon1 {
  position: absolute;
  display: none;
}
.starfill-icon1 {
  top: calc(50% - 17.08px);
  left: calc(50% - 12px);
  width: 23.5px;
  height: 22.45px;
}
.label-2 {
  top: calc(50% + 10.37px);
  left: calc(50% - 15px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.tab-bar-item {
  position: absolute;
  top: 6px;
  left: calc(50% - 34.5px);
  width: 76px;
  height: 49px;
}
.comment-icon {
  position: absolute;
  top: 14px;
  left: 178px;
  width: 26px;
  height: 24px;
}
.tab-bar-item1 {
  position: absolute;
  top: 6px;
  left: calc(50% + 91.5px);
  width: 76px;
  height: 49px;
}
.home-icon,
.scroll-icon,
.tabs {
  position: absolute;
  top: 16px;
  left: 305px;
  width: 24px;
  height: 24px;
}
.home-icon,
.tabs {
  top: 13px;
  left: 53px;
}
.tabs {
  width: 100%;
  top: 8px;
  right: 0;
  left: 0;
  height: 49px;
  overflow: hidden;
}
.home-indicator5,
.home-indicator6 {
  position: absolute;
  width: 134px;
  height: 5px;
}
.home-indicator6 {
  bottom: 0;
  left: calc(50% - 67px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-light-primary);
}
.home-indicator5 {
  bottom: 8px;
  left: calc(50% - 65.5px);
}
.iphone-x-or-newer,
.tab-bar {
  position: absolute;
  left: 0;
  width: 375px;
}
.tab-bar {
  top: 729px;
  background-color: rgba(255, 254, 254, 0.94);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  height: 83px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--default-systemblue-light);
}
.iphone-x-or-newer {
  top: 0;
  height: 44px;
  overflow: hidden;
}
.button1 {
  position: relative;
  letter-spacing: 0.75px;
  line-height: 28px;
  font-weight: 600;
}
.button-primary {
  position: absolute;
  top: 321px;
  left: 22px;
  border-radius: var(--br-xs);
  background-color: #181818;
  width: 330px;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--grayscale-background);
  font-family: var(--desktop-text-small-tight);
}
.scaled-1-icon {
  position: absolute;
  top: 150px;
  left: 33px;
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.day,
.day1 {
  position: relative;
  letter-spacing: -0.08px;
  line-height: 18px;
  font-weight: 600;
}
.day {
  display: inline-block;
  width: 32px;
  flex-shrink: 0;
}
.day1 {
  text-align: left;
}
.typedays-of-week {
  width: 279px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.date {
  position: absolute;
  width: 100%;
  top: calc(50% - 12px);
  left: 0;
  letter-spacing: 0.38px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.digit {
  position: relative;
  width: 40px;
  height: 40px;
}
.date1,
.date5 {
  position: absolute;
  width: 100%;
  top: calc(50% - 12px);
  left: 0.5px;
  letter-spacing: 0.38px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date5 {
  top: calc(50% - 16px);
  height: 32px;
}
.digit5,
.digit6 {
  position: relative;
  width: 40px;
  height: 40px;
  color: #ff1010;
}
.digit6 {
  color: #ff0909;
}
.datepicker-dayrow,
.typedigits {
  display: flex;
  box-sizing: border-box;
}
.typedigits {
  width: 274px;
  height: 46px;
  flex-direction: row;
  padding: 10px 0;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -10px;
  font-size: var(--title3-regular-size);
  color: var(--color-gray-200);
}
.datepicker-dayrow {
  position: absolute;
  top: 447px;
  left: 37px;
  border-radius: 16px;
  background-color: var(--color-ghostwhite-100);
  width: 305px;
  height: 114px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-13xl) var(--padding-13xl);
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--xsmall-callout-size);
  color: var(--color-darkslategray-100);
}
.b1,
.b2,
.message1 {
  position: absolute;
  display: inline-block;
}
.message1 {
  width: calc(100% - 181px);
  top: 149px;
  left: 173px;
  font-size: var(--body-sm-regular-size);
  letter-spacing: -0.41px;
  line-height: 22px;
  color: var(--label-color-light-primary);
}
.b1,
.b2 {
  height: 13.28%;
  width: 100%;
  top: 86.72%;
  left: 0;
  letter-spacing: -1.3px;
  line-height: 48px;
}
.b2 {
  top: 8.33%;
}
.blank-line {
  margin: 0;
}
.b3,
.parent {
  position: absolute;
}
.b3 {
  height: 13.28%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -1.3px;
  line-height: 48px;
  display: inline-block;
}
.parent {
  height: 47.29%;
  width: 85.6%;
  top: 7.14%;
  right: 5.33%;
  bottom: 45.57%;
  left: 9.07%;
  font-size: var(--font-size-5xl);
  color: var(--label-color-light-primary);
  font-family: var(--desktop-text-small-tight);
}
.widget1 {
  position: absolute;
  top: 143px;
  left: calc(50% - 22px);
  line-height: 16px;
  font-weight: 500;
}
.widgets,
.widgets1 {
  position: absolute;
  top: 576px;
  left: 37px;
  border-radius: var(--br-3xl);
  background-color: var(--color-ghostwhite-100);
  width: 138px;
  height: 138px;
  text-align: center;
  font-size: var(--caption1-regular-size);
  color: var(--label-color-dark-primary);
  font-family: var(--xsmall-callout);
}
.widgets1 {
  left: 198px;
}
.b4,
.b5,
.div1 {
  position: absolute;
  display: inline-block;
}
.div1 {
  height: 5.91%;
  width: 14.4%;
  top: 75.49%;
  left: 73.33%;
  letter-spacing: -1.3px;
  line-height: 41px;
  font-weight: 600;
}
.b4,
.b5 {
  height: 6.28%;
  width: 34.67%;
  line-height: 48px;
  font-family: var(--desktop-text-small-tight);
  color: var(--label-color-light-primary);
}
.b4 {
  top: 70.94%;
  left: 12.53%;
  letter-spacing: -1.3px;
}
.b5 {
  top: 70.44%;
  left: 57.33%;
}
.b5,
.lv {
  letter-spacing: -1.3px;
}
.l1 {
  letter-spacing: -4.8px;
}
.div2,
.l-v-l,
.lvl {
  position: absolute;
  height: 5.91%;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
}
.lvl {
  width: 34.67%;
  top: 76.23%;
  left: 13.33%;
  color: var(--label-color-light-primary);
}
.div2,
.l-v-l {
  letter-spacing: -1.3px;
}
.div2 {
  width: 34.67%;
  top: 75.49%;
  left: 56%;
  color: var(--label-color-light-primary);
}
.l-v-l {
  width: 14.4%;
  top: 82.02%;
  left: 14.67%;
}
.initials-icon {
  position: absolute;
  height: 32.36%;
  width: 44.29%;
  top: 34.83%;
  right: 28.41%;
  bottom: 32.81%;
  left: 27.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.initials {
  position: absolute;
  width: 64.44%;
  top: 18.56%;
  left: 17.78%;
  letter-spacing: -0.16px;
  line-height: 9.27px;
  font-weight: 500;
  display: none;
  align-items: center;
  justify-content: center;
}
.messages-avatar,
.messages-avatar-icon {
  position: absolute;
  top: 6%;
  overflow: hidden;
}
.messages-avatar {
  height: 34%;
  width: 34%;
  right: 105%;
  bottom: 60%;
  left: -39%;
  border-radius: 38.65px;
  background: linear-gradient(180deg, #f19fb4, #ee7b95);
}
.messages-avatar-icon {
  height: 90%;
  width: 90%;
  right: 5%;
  bottom: 4%;
  left: 5%;
  border-radius: var(--br-81xl);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.contact-photo-icon,
.messages-avatar1 {
  position: absolute;
  border-radius: 59.26px;
  overflow: hidden;
}
.contact-photo-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.messages-avatar1 {
  height: 34%;
  width: 34%;
  top: 54%;
  right: -39%;
  bottom: 12%;
  left: 105%;
}
.contact-photo-icon1,
.messages-avatar2,
.messages-avatar3 {
  position: absolute;
  border-radius: var(--br-21xl);
  overflow: hidden;
}
.contact-photo-icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.messages-avatar2,
.messages-avatar3 {
  height: 24%;
  width: 24%;
  top: 11.56%;
  right: -25%;
  bottom: 64.44%;
  left: 101%;
}
.messages-avatar3 {
  top: 58%;
  right: 101%;
  bottom: 18%;
  left: -25%;
}
.avatars {
  position: absolute;
  top: 661px;
  left: 241px;
  border-radius: 111.11px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 7.73px;
  color: var(--label-color-dark-primary);
  font-family: var(--font-sf-pro-rounded);
}
.messages-avatar-icon1 {
  position: absolute;
  height: 5.54%;
  width: 12%;
  top: 81.03%;
  right: 57.33%;
  bottom: 13.42%;
  left: 30.67%;
  border-radius: var(--br-81xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div3,
.div4 {
  height: 5.91%;
  top: 63.79%;
  letter-spacing: -1.3px;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
}
.div3 {
  position: absolute;
  width: 8.27%;
  left: 16.27%;
}
.div4 {
  width: 6.13%;
  left: 26.67%;
}
.div4,
.div5,
.div6 {
  position: absolute;
}
.div5 {
  height: 5.91%;
  width: 6.13%;
  top: 63.79%;
  left: 67.2%;
  letter-spacing: -1.3px;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
}
.div6 {
  left: 77.6%;
}
.div6,
.div7,
.div8 {
  height: 5.91%;
  width: 6.13%;
  top: 63.79%;
  letter-spacing: -1.3px;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
}
.div7 {
  position: absolute;
  left: 59.47%;
  color: #837474;
}
.div8 {
  left: 48.27%;
  color: #d00000;
}
.div8,
.div9,
.widget3 {
  position: absolute;
}
.div9 {
  height: 5.91%;
  width: 6.13%;
  top: 63.79%;
  left: 37.07%;
  letter-spacing: -1.3px;
  line-height: 41px;
  font-weight: 600;
  display: inline-block;
}
.widget3 {
  top: 156px;
  left: calc(50% - 2.5px);
  line-height: 16px;
  font-weight: 500;
}
.day7,
.widgets2 {
  position: absolute;
  text-align: center;
}
.widgets2 {
  top: 412px;
  left: 223px;
  border-radius: var(--br-3xl) var(--br-3xl) 0 0;
  background-color: #f4f4f6;
  width: 117px;
  height: 43px;
  font-size: var(--caption1-regular-size);
  color: var(--label-color-dark-primary);
  font-family: var(--xsmall-callout);
}
.day7 {
  top: 426px;
  left: 245px;
  font-size: var(--large-default-subhead-size);
  letter-spacing: -0.08px;
  line-height: 18px;
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 78px;
}
.sf-symbol-chevronright4,
.sf-symbol-chevronright5 {
  position: absolute;
  height: 1.51%;
  width: 1.91%;
  top: 52.71%;
  right: 11.42%;
  bottom: 45.78%;
  left: 86.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sf-symbol-chevronright5 {
  height: 1.48%;
  width: 1.87%;
  right: 36.53%;
  bottom: 45.81%;
  left: 61.6%;
}
.mainscreen {
  position: absolute;
  top: 2px;
  left: 411px;
  width: 375px;
  height: 812px;
  font-size: var(--desktop-link-small-size);
  color: var(--color-limegreen);
}
.group-item,
.tab-bar1 {
  position: absolute;
  left: 0;
  width: 375px;
}
.tab-bar1 {
  top: 729px;
  background-color: var(--color-gray-300);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  height: 83px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--default-systemblue-light);
}
.group-item {
  top: 6px;
  background-color: var(--label-color-dark-primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 53px;
}
.div10 {
  position: absolute;
  height: 86.44%;
  width: 57.6%;
  top: 0;
  left: 5.6%;
  letter-spacing: 0.5px;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
}
.rectangle-group,
.settings-icon {
  position: absolute;
  top: 20.89px;
  left: 330.89px;
  width: 24.22px;
  height: 24.22px;
}
.rectangle-group {
  top: 44px;
  left: 0;
  width: 375px;
  height: 59px;
  font-size: var(--title3-regular-size);
}
.profile-icon {
  position: absolute;
  top: 65px;
  left: 287px;
  width: 24px;
  height: 24px;
}
.widget4 {
  position: absolute;
  top: 163px;
  left: calc(50% - 19.5px);
  line-height: 16px;
  font-weight: 500;
}
.widgets3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-ghostwhite-100);
  width: 333px;
  height: 158px;
  text-align: center;
  font-size: var(--caption1-regular-size);
  color: var(--label-color-dark-primary);
}
.div13,
.div14,
.div15,
.div16 {
  position: absolute;
  letter-spacing: 0.5px;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
}
.div13 {
  height: 32.28%;
  width: 64.86%;
  top: 8.86%;
  left: 4.2%;
  font-size: var(--font-size-7xl);
}
.div14,
.div15,
.div16 {
  height: 25.95%;
  left: 3.6%;
}
.div14 {
  width: 47.75%;
  top: 71.52%;
  font-size: var(--body-sm-regular-size);
}
.div15,
.div16 {
  width: 57.06%;
  top: 35.44%;
}
.div16 {
  width: 71.47%;
  top: 48.73%;
}
.ul {
  margin: 0;
  padding-left: var(--padding-base);
}
.title2 {
  flex: 1;
  position: relative;
  line-height: 16px;
}
.contextualmenu-titleitem {
  position: absolute;
  top: 124px;
  left: 117px;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-100);
  width: 205px;
  height: 27px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-inherit);
  color: var(--color-blue-100);
  font-family: var(--font-inherit);
}
.label22 {
  position: relative;
  letter-spacing: 0.75px;
  line-height: 20px;
  font-weight: 100;
}
.badges {
  position: absolute;
  top: 24px;
  left: 172px;
  border-radius: var(--br-5xs);
  background-color: var(--warning-background-strong);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--large-default-subhead-size);
  color: var(--grayscale-header);
}
.div12,
.widgets4 {
  position: absolute;
  width: 333px;
  height: 158px;
}
.div12 {
  top: 118px;
  left: 21px;
  font-size: var(--desktop-link-small-size);
}
.widgets4 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-ghostwhite-100);
  text-align: center;
  color: var(--label-color-dark-primary);
}
.div18,
.div19,
.div21,
.div22 {
  position: absolute;
  height: 32.28%;
  width: 78.08%;
  top: 8.23%;
  left: 3.9%;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.5px;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
}
.div19,
.div21,
.div22 {
  height: 22.15%;
  width: 31.23%;
  top: 29.11%;
  left: 4.2%;
}
.div21,
.div22 {
  height: 25.95%;
  width: 57.06%;
  top: 44.94%;
  left: 3.6%;
  font-size: var(--desktop-link-small-size);
}
.div22 {
  width: 71.47%;
  top: 58.23%;
  left: 3%;
}
.contextualmenu-titleitem1 {
  position: absolute;
  top: 124px;
  left: 117px;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-100);
  width: 205px;
  height: 27px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-blue-100);
}
.label23 {
  position: relative;
  letter-spacing: 0.75px;
  line-height: 20px;
}
.badges1,
.div17 {
  position: absolute;
}
.badges1 {
  top: 23px;
  left: 241px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-background-strong);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--large-default-subhead-size);
  color: var(--grayscale-header);
}
.div17 {
  top: 289px;
  left: 21px;
  width: 333px;
  height: 158px;
}
.div24,
.div26 {
  letter-spacing: 0.5px;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
}
.div24 {
  position: absolute;
  height: 32.28%;
  width: 64.86%;
  top: 9.49%;
  left: 3.9%;
  font-size: var(--font-size-7xl);
}
.div26 {
  height: 25.95%;
  width: 57.06%;
  top: 35.44%;
  left: 3.6%;
  font-size: var(--desktop-link-small-size);
}
.badges2,
.div26,
.div27 {
  position: absolute;
}
.div27 {
  height: 25.95%;
  width: 71.47%;
  top: 48.73%;
  left: 3.6%;
  font-size: var(--desktop-link-small-size);
  letter-spacing: 0.5px;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
}
.badges2 {
  top: 24px;
  left: 261px;
  border-radius: var(--br-5xs);
  background-color: var(--error-background-strong);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--large-default-subhead-size);
  color: var(--grayscale-header);
}
.div23,
.div29 {
  position: absolute;
  top: 460px;
  left: 22px;
  width: 333px;
  height: 158px;
}
.div29 {
  height: 32.28%;
  width: 77.48%;
  top: 6.96%;
  left: 3.9%;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.5px;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
}
.div28,
.lessonsscreen {
  position: absolute;
  top: 628px;
  left: 21px;
  width: 333px;
  height: 158px;
}
.lessonsscreen {
  top: 0;
  left: 1245px;
  width: 375px;
  height: 812px;
  font-size: var(--caption1-regular-size);
}
.group-div,
.tab-bar3 {
  position: absolute;
  left: 0;
  width: 375px;
}
.tab-bar3 {
  top: 729px;
  background-color: var(--color-gray-300);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  height: 83px;
  font-size: var(--font-size-3xs);
}
.group-div {
  top: 44px;
  height: 59px;
  text-align: left;
  font-size: var(--title3-regular-size);
  color: var(--label-color-light-primary);
}
.account-photo-icon1 {
  position: relative;
  border-radius: var(--br-81xl);
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.apple-id-icloud1,
.name1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.35px;
  line-height: 28px;
}
.apple-id-icloud1 {
  font-size: var(--xsmall-callout-size);
  letter-spacing: -0.08px;
  line-height: 18px;
}
.left-content6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-4xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.sf-symbol-chevronright6 {
  position: relative;
  width: 7.16px;
  height: 12.3px;
}
.right-content6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 0;
  align-items: center;
  justify-content: flex-start;
}
.content7 {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
}
.content7,
.icon-content2,
.settings-account {
  display: flex;
  justify-content: flex-start;
}
.icon-content2 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-7xs) 0;
  align-items: center;
  gap: var(--gap-smi);
}
.settings-account {
  position: absolute;
  top: 121px;
  left: 7px;
  border-radius: var(--br-sm);
  background-color: var(--label-color-dark-primary);
  width: 361px;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  text-align: left;
  font-size: var(--title2-regular-size);
  color: var(--label-color-light-primary);
}
.span {
  font-weight: 600;
}
.p3 {
  margin: 0;
  font-size: var(--large-default-subhead-size);
}
.div35 {
  position: relative;
  letter-spacing: 0.75px;
  line-height: 32px;
  display: inline-block;
  width: 153px;
  flex-shrink: 0;
}
.wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
}
.div36 {
  position: relative;
  font-size: var(--desktop-link-small-size);
  letter-spacing: 0.25px;
  line-height: 32px;
  display: inline-block;
  width: 122px;
}
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.div37 {
  position: relative;
  font-size: var(--desktop-link-medium-size);
  letter-spacing: 0.75px;
  line-height: 34px;
  font-weight: 600;
  color: var(--success-default);
  display: inline-block;
  width: 152px;
  height: 100px;
  flex-shrink: 0;
  margin-left: -40px;
}
.frame-parent,
.profilescreen-inner {
  width: 299px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.profilescreen-inner {
  position: absolute;
  top: 216px;
  left: 26px;
  border-radius: var(--br-21xl);
  background-color: var(--grayscale-background);
  box-shadow: var(--elevation-4);
  width: 322px;
  height: 92px;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-29xl) 3px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--title3-regular-size);
  color: var(--grayscale-header);
  font-family: var(--desktop-text-small-tight);
}
.sf-symbol5 {
  position: relative;
  letter-spacing: 0.35px;
  line-height: 28px;
  display: none;
}
.sf-symbol-mappincirclefill1 {
  position: relative;
  width: 29.88px;
  height: 29.88px;
}
.icon5 {
  align-self: stretch;
  border-radius: var(--br-6xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.desc1,
.label25 {
  align-self: stretch;
  position: relative;
}
.label25 {
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
}
.desc1 {
  font-size: var(--large-default-subhead-size);
  letter-spacing: -0.24px;
  line-height: 20px;
  color: var(--label-color-light-secondary);
}
.content8,
.icon-content3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.content8 {
  flex: 1;
  align-items: flex-start;
  text-align: left;
  font-size: var(--large-default-body-size);
  color: var(--label-color-light-primary);
}
.icon-content3 {
  align-self: stretch;
  border-bottom: 0.5px solid var(--separator-color-light-with-transparency);
  padding: var(--padding-7xs) 0;
  align-items: center;
  gap: var(--gap-smi);
}
.detailedtableview-largecell,
.detailedtableview-largecell1,
.detailedtableview-largecell2,
.detailedtableview-largecell3,
.detailedtableview-largecell4 {
  position: absolute;
  top: 326px;
  left: 7px;
  background-color: var(--label-color-dark-primary);
  width: 358px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
}
.detailedtableview-largecell1,
.detailedtableview-largecell2,
.detailedtableview-largecell3,
.detailedtableview-largecell4 {
  top: 486px;
  left: 10px;
}
.detailedtableview-largecell2,
.detailedtableview-largecell3,
.detailedtableview-largecell4 {
  top: 566px;
}
.detailedtableview-largecell3,
.detailedtableview-largecell4 {
  top: 647px;
}
.detailedtableview-largecell4 {
  top: 406px;
}
.profilescreen,
.tab-bar5 {
  position: absolute;
  width: 375px;
  color: var(--default-systemblue-light);
}
.profilescreen {
  top: 0;
  left: 1660px;
  height: 812px;
  text-align: center;
  font-size: var(--display-sm-bold-size);
}
.tab-bar5 {
  top: 729px;
  left: 0;
  background-color: var(--color-gray-300);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  height: 83px;
  font-size: var(--font-size-3xs);
}
.sf-symbol10 {
  position: absolute;
  top: 4px;
  left: 7px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: none;
}
.sf-symbol-speakerwave2fil4 {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 18.53px;
  height: 14.64px;
}
.icon10 {
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--default-systemblue-light);
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.label30 {
  flex: 1;
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
}
.left-content12 {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.label31 {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
}
.right-content12 {
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--label-color-light-secondary);
}
.action4,
.inner-content4 {
  flex: 1;
  display: flex;
  align-items: center;
}
.inner-content4 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.action4 {
  background-color: var(--default-systemblue-light);
  overflow: hidden;
  justify-content: center;
}
.action4,
.content13,
.delete5,
.slide-actions4 {
  align-self: stretch;
  flex-direction: row;
}
.delete5 {
  flex: 1;
  background-color: var(--default-systemred-light);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content13,
.slide-actions4 {
  justify-content: flex-start;
}
.slide-actions4 {
  width: 148px;
  display: none;
  align-items: flex-start;
  color: var(--label-color-dark-primary);
  font-family: var(--xsmall-callout);
}
.content13 {
  flex: 1;
  border-bottom: 0.5px solid var(--separator-color-light-with-transparency);
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--label-color-light-primary);
}
.tableview-cell {
  position: absolute;
  top: 234px;
  left: 9px;
  background-color: var(--label-color-dark-primary);
  width: 358px;
  padding: 0 0 0 var(--padding-base);
  gap: var(--gap-base);
}
.right-content14,
.tableview-cell,
.tableview-cell1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tableview-cell1 {
  position: absolute;
  top: 278px;
  left: 8px;
  background-color: var(--label-color-dark-primary);
  width: 358px;
  padding: 0 0 0 var(--padding-base);
  gap: var(--gap-base);
}
.right-content14 {
  height: 44px;
  padding: 0 var(--padding-base) 0 0;
}
.tableview-cell2,
.tableview-cell3,
.tableview-cell4,
.tableview-cell5,
.tableview-cell6 {
  position: absolute;
  top: 127px;
  left: 9px;
  background-color: var(--label-color-dark-primary);
  width: 358px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.tableview-cell3,
.tableview-cell4,
.tableview-cell5,
.tableview-cell6 {
  top: 344px;
}
.tableview-cell4,
.tableview-cell5,
.tableview-cell6 {
  top: 388px;
  left: 10px;
}
.tableview-cell5,
.tableview-cell6 {
  top: 164px;
  left: 9px;
}
.tableview-cell6 {
  top: 579px;
  left: 10px;
}
.toggle-icon1 {
  position: relative;
  width: 57px;
  height: 43px;
}
.tableview-cell7 {
  position: absolute;
  top: 468px;
  left: 10px;
  background-color: var(--label-color-dark-primary);
  width: 358px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.sf-symbol-infocircle1 {
  position: relative;
  width: 16.93px;
  height: 16.93px;
}
.tableview-cell8,
.tableview-cell9 {
  position: absolute;
  top: 623px;
  left: 10px;
  background-color: var(--label-color-dark-primary);
  width: 358px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.tableview-cell9 {
  top: 674px;
  left: 12px;
}
.title7 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  width: 342px;
  flex-shrink: 0;
}
.right-title {
  position: relative;
  font-size: var(--large-default-body-size);
  letter-spacing: -0.41px;
  line-height: 22px;
  color: var(--default-systemblue-light);
  text-align: right;
  display: none;
}
.title6,
.title8 {
  position: absolute;
  top: 110px;
  left: 9px;
  width: 358px;
  display: flex;
  flex-direction: row;
  padding: 0 0 var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: var(--caption1-regular-size);
  color: var(--label-color-light-secondary);
}
.title8 {
  top: 217px;
  left: 10px;
}
.right-title2 {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: none;
}
.title10 {
  position: absolute;
  top: 351px;
  left: 10px;
  width: 358px;
  display: flex;
  flex-direction: row;
  padding: 0 0 var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  text-align: right;
  color: var(--default-systemblue-light);
}
.title11,
.title12 {
  text-align: left;
  font-size: var(--caption1-regular-size);
  color: var(--label-color-light-secondary);
}
.title11 {
  position: absolute;
  top: 328px;
  left: 26px;
  line-height: 16px;
  display: inline-block;
  width: 342px;
}
.title12 {
  top: 441px;
  left: 2px;
  padding: 0 0 var(--padding-5xs) var(--padding-base);
  align-items: flex-start;
  justify-content: space-between;
}
.tableview-cell10,
.title12,
.title14 {
  position: absolute;
  width: 358px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.title14 {
  top: 559px;
  left: 2px;
  padding: 0 0 var(--padding-5xs) var(--padding-base);
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: var(--caption1-regular-size);
  color: var(--label-color-light-secondary);
}
.tableview-cell10 {
  top: 512px;
  left: 10px;
  background-color: var(--label-color-dark-primary);
  padding: 0 0 0 var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.settingsscreen,
.tabs7 {
  position: absolute;
  top: 0;
  left: 2075px;
  width: 375px;
  height: 812px;
  text-align: center;
  color: var(--label-color-dark-primary);
}
.tabs7 {
  width: 100%;
  top: 461px;
  right: 2px;
  left: -2px;
  height: 49px;
  overflow: hidden;
  font-size: var(--font-size-3xs);
  color: var(--default-systemblue-light);
}
.home-indicator20 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-light-primary);
  width: 134px;
  height: 5px;
}
.home-indicator19 {
  position: absolute;
  width: 100%;
  right: -1px;
  bottom: 0;
  left: 1px;
  height: 34px;
}
.dictation-icon1,
.emoji-icon1 {
  position: relative;
  width: 15px;
  height: 25px;
}
.emoji-icon1 {
  width: 27px;
  height: 27px;
}
.label65,
.rectangle-icon4 {
  position: absolute;
  width: 100%;
  left: 0;
}
.rectangle-icon4 {
  height: calc(100% + 1px);
  top: 0;
  right: 0;
  bottom: -1px;
  border-radius: var(--br-8xs-6);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label65 {
  top: 26.19%;
  letter-spacing: -0.32px;
  line-height: 21px;
  display: inline-block;
}
.return1,
.space1 {
  position: absolute;
  height: 16.22%;
  width: 23.85%;
  top: 62.55%;
  right: 0;
  bottom: 21.24%;
  left: 76.15%;
  font-size: var(--desktop-link-small-size);
}
.space1 {
  width: 49.32%;
  right: 25.47%;
  left: 25.2%;
}
.div40,
.key-light2 {
  position: absolute;
  left: 0;
}
.div40 {
  height: 16.22%;
  width: 23.58%;
  top: 62.55%;
  right: 76.42%;
  bottom: 21.24%;
  font-size: var(--desktop-link-small-size);
}
.key-light2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.delete-button-icon1 {
  position: relative;
  width: 22.66px;
  height: 16.99px;
}
.delete16,
.rectangle27 {
  position: absolute;
  right: 0;
}
.delete16 {
  height: 16.22%;
  width: 11.38%;
  top: 41.7%;
  bottom: 42.08%;
  left: 88.62%;
  font-size: var(--desktop-link-small-size);
}
.rectangle27 {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-gray-100);
  box-shadow: 0 1px 0#898a8d;
}
.symbol27 {
  position: absolute;
  top: calc(50% - 13px);
  left: 48.07%;
  letter-spacing: -0.55px;
}
.shift-icon1 {
  position: absolute;
  height: 39.18%;
  width: 44.95%;
  top: 29.05%;
  right: 27.29%;
  bottom: 31.77%;
  left: 27.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shift1 {
  position: absolute;
  height: 16.22%;
  width: 11.38%;
  top: 41.7%;
  right: 88.62%;
  bottom: 42.08%;
  left: 0;
}
.symbol28 {
  position: absolute;
  top: calc(50% - 13px);
  left: 21.88%;
  letter-spacing: -0.55px;
}
.m1 {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 14.91%;
  bottom: 42.08%;
  left: 76.42%;
}
.m1,
.n1,
.symbol29 {
  position: absolute;
}
.symbol29 {
  top: calc(50% - 13px);
  left: 25%;
  letter-spacing: -0.55px;
}
.n1 {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 25.2%;
  bottom: 42.08%;
  left: 66.12%;
}
.symbol30 {
  top: calc(50% - 13px);
  left: 28.13%;
  letter-spacing: -0.55px;
}
.b6,
.symbol30,
.v1 {
  position: absolute;
}
.b6 {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 35.5%;
  bottom: 42.08%;
  left: 55.83%;
}
.v1 {
  right: 45.53%;
  left: 45.8%;
}
.c1,
.v1,
.x1 {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  bottom: 42.08%;
}
.c1 {
  position: absolute;
  right: 55.83%;
  left: 35.5%;
}
.x1 {
  right: 65.85%;
  left: 25.47%;
}
.symbol35,
.x1,
.z1 {
  position: absolute;
}
.z1 {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 76.15%;
  bottom: 42.08%;
  left: 15.18%;
}
.symbol35 {
  top: calc(50% - 13px);
  left: 31.25%;
  letter-spacing: -0.55px;
}
.k1,
.l2 {
  height: 16.22%;
  width: 8.67%;
}
.l2 {
  position: absolute;
  top: 20.85%;
  right: 4.88%;
  bottom: 62.93%;
  left: 86.45%;
}
.k1 {
  right: 15.18%;
  left: 76.15%;
}
.h1,
.j1,
.k1 {
  position: absolute;
  top: 20.85%;
  bottom: 62.93%;
}
.j1 {
  height: 16.22%;
  width: 8.67%;
  right: 25.2%;
  left: 66.12%;
}
.h1 {
  right: 35.5%;
  left: 55.83%;
}
.f1,
.g1,
.h1 {
  height: 16.22%;
  width: 8.67%;
}
.g1 {
  position: absolute;
  top: 20.85%;
  right: 45.53%;
  bottom: 62.93%;
  left: 45.8%;
}
.f1 {
  right: 55.83%;
  left: 35.5%;
}
.d1,
.f1,
.s1 {
  position: absolute;
  top: 20.85%;
  bottom: 62.93%;
}
.d1 {
  height: 16.22%;
  width: 8.67%;
  right: 65.85%;
  left: 25.47%;
}
.s1 {
  right: 76.15%;
  left: 15.18%;
}
.a1,
.p6,
.s1 {
  height: 16.22%;
  width: 8.67%;
}
.a1 {
  position: absolute;
  top: 20.85%;
  right: 86.18%;
  bottom: 62.93%;
  left: 5.15%;
}
.p6 {
  top: 0;
  right: 0;
  bottom: 83.78%;
  left: 91.33%;
}
.o1,
.p6,
.symbol46 {
  position: absolute;
}
.o1 {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 10.03%;
  bottom: 83.78%;
  left: 81.3%;
}
.symbol46 {
  top: calc(50% - 13px);
  left: 40.63%;
  letter-spacing: -0.55px;
}
.i1 {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 20.33%;
  bottom: 83.78%;
  left: 71%;
}
.i1,
.u1,
.y1 {
  position: absolute;
}
.u1 {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 30.35%;
  bottom: 83.78%;
  left: 60.98%;
}
.y1 {
  right: 40.65%;
  left: 50.68%;
}
.r1,
.t1,
.y1 {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  bottom: 83.78%;
}
.t1 {
  position: absolute;
  right: 50.68%;
  left: 40.65%;
}
.r1 {
  right: 60.98%;
  left: 30.35%;
}
.e1,
.r1,
.symbol52 {
  position: absolute;
}
.e1 {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 71%;
  bottom: 83.78%;
  left: 20.33%;
}
.symbol52 {
  top: calc(50% - 13px);
  left: 18.75%;
  letter-spacing: -0.55px;
}
.keys1,
.q1,
.w1 {
  position: absolute;
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 81.3%;
  bottom: 83.78%;
  left: 10.03%;
}
.keys1,
.q1 {
  right: 91.33%;
  left: 0;
}
.keys1 {
  height: 89%;
  width: 98.4%;
  top: 2.75%;
  right: 0.8%;
  bottom: 8.25%;
  left: 0.8%;
}
.keyboard {
  position: absolute;
  top: 521px;
  left: 0;
  background-color: var(--neutral-300);
  backdrop-filter: blur(108.73px);
  width: 375px;
  height: 291px;
  text-align: center;
  font-size: var(--font-size-3xl-5);
}
.combined-shape-icon1 {
  position: absolute;
  height: 100%;
  width: calc(100% - 5px);
  top: 0;
  right: 5px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tail-inner-edge1,
.tail-outer-edge1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 var(--br-xl);
  background-color: var(--color-lightslategray);
}
.tail-inner-edge1 {
  height: 242.11%;
  width: 170%;
  top: -121.05%;
  right: -145%;
  bottom: -21.05%;
  left: 75%;
  border-radius: 0 0 0 var(--br-sm);
}
.tail2,
.tail3 {
  width: 20px;
  height: 14px;
}
.tail3 {
  position: relative;
  background-color: var(--default-systemblue-light);
}
.tail2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.message2 {
  position: absolute;
  width: calc(100% - 33px);
  top: 7px;
  left: 14px;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.bubble,
.bubble1 {
  position: absolute;
  top: 116px;
  left: 121px;
  width: 245px;
  height: 58px;
  color: var(--label-color-dark-primary);
}
.bubble1 {
  top: 352px;
  left: 131px;
  width: 239px;
}
.combined-shape-icon3 {
  position: absolute;
  height: 100%;
  width: calc(100% - 4px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 4px;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tail6,
.tail7 {
  width: 20px;
  height: 14px;
}
.tail7 {
  position: relative;
  background-color: var(--systemgray-05-light);
}
.tail6 {
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.span2 {
  color: #1d19ef;
}
.message4 {
  position: absolute;
  width: calc(100% - 32px);
  top: 7px;
  left: 18px;
  letter-spacing: -0.41px;
  line-height: 22px;
  white-space: pre-wrap;
  display: inline-block;
}
.bubble2 {
  position: absolute;
  top: 183px;
  left: 3px;
  width: 343px;
  height: 161px;
  font-size: var(--body-sm-regular-size);
}
.minus-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.text-input {
  position: absolute;
  height: 4.56%;
  width: 70.13%;
  top: 51.35%;
  right: 16.27%;
  bottom: 44.09%;
  left: 13.6%;
  border-radius: var(--br-xs);
  background-color: var(--grayscale-input);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) 20px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.send-icon {
  position: absolute;
  top: 426px;
  left: 329.59px;
  width: 24.41px;
  height: 24.11px;
}
.chatscreen-child,
.mask-group-icon {
  position: absolute;
  top: 50px;
  left: -4px;
  width: 383px;
  height: 61px;
  object-fit: cover;
}
.mask-group-icon {
  top: 9px;
  left: 25px;
  width: 50px;
  height: 50px;
}
.chip-icon,
.div41,
.div42,
.line-darkmodehamberger-menu {
  position: absolute;
  top: 21px;
  left: 334px;
  width: 24px;
  height: 24px;
}
.chip-icon,
.div41,
.div42 {
  top: 22px;
  left: 288px;
}
.div41,
.div42 {
  height: 69.86%;
  width: 73.12%;
  top: 30.14%;
  left: 26.88%;
  letter-spacing: 0.5px;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
}
.div42 {
  top: 0;
  left: 22.78%;
  font-size: var(--title3-regular-size);
  color: var(--label-color-light-primary);
}
.ellipse-div {
  position: absolute;
  top: 42px;
  left: 100px;
  border-radius: 50%;
  background-color: var(--success-default);
  width: 10px;
  height: 10px;
}
.rectangle-parent4 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 439px;
  height: 73px;
  font-size: var(--body-sm-regular-size);
  color: #0019ff;
}
.attach-icon {
  position: absolute;
  top: 424.57px;
  left: 14px;
  width: 24px;
  height: 24.43px;
}
.chatscreen,
.wallpaper-icon {
  position: absolute;
  top: 0;
  left: 830px;
  width: 375px;
  height: 812px;
}
.wallpaper-icon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-indicator23 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-dark-primary);
  width: 134px;
  height: 5px;
}
.home-indicator21 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
}
.swipe-up-to {
  position: absolute;
  bottom: 47px;
  left: calc(50% - 65.5px);
  letter-spacing: -0.41px;
  display: inline-block;
  width: 131px;
  opacity: 0.64;
}
.camera-button-icon {
  position: absolute;
  right: 46px;
  bottom: 50px;
  width: 50px;
  height: 50px;
}
.bottom-ui,
.flashlight-button-icon {
  position: absolute;
  bottom: 50px;
  left: 46px;
  width: 50px;
  height: 50px;
}
.bottom-ui {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
}
.date7 {
  position: absolute;
  top: 190px;
  left: calc(50% - 78.5px);
  font-size: var(--title2-regular-size);
  letter-spacing: -0.5px;
  display: inline-block;
  width: 157px;
}
.time-icon {
  position: relative;
  width: 129.96px;
  height: 58.05px;
  display: none;
}
.div43,
.div44 {
  letter-spacing: -0.24px;
  font-weight: 100;
}
.div43 {
  position: absolute;
  top: 97px;
  left: 116px;
  text-align: right;
  display: none;
}
.div44 {
  top: 0;
  left: calc(50% - 8px);
}
.div44,
.div45,
.icon21 {
  position: absolute;
}
.icon21 {
  top: 32.5px;
  left: calc(50% - 18.22px);
  width: 5.39px;
  height: 34.82px;
}
.div45 {
  top: 0;
  left: calc(50% - 72px);
  letter-spacing: -0.24px;
  font-weight: 100;
  text-align: right;
}
.editable-time {
  position: absolute;
  top: 97px;
  left: calc(50% - 71.5px);
  width: 144px;
  height: 99px;
  text-align: left;
}
.lock-icon {
  position: relative;
  width: 23px;
  height: 33.33px;
}
.iphone-x-or-newer8 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 44px;
}
.status-bar-time-date {
  position: absolute;
  top: 0;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 216px;
  text-align: center;
  font-size: var(--font-size-64xl);
}
.lockscreen-assets,
.title16 {
  position: absolute;
  top: 0;
  left: 0;
}
.lockscreen-assets {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.title16 {
  letter-spacing: -0.24px;
  line-height: 20px;
  font-weight: 600;
}
.span3 {
  color: #0a22fb;
}
.description1 {
  position: absolute;
  width: 100%;
  top: 22px;
  left: 0;
  letter-spacing: -0.24px;
  line-height: 20px;
  display: inline-block;
}
.content24 {
  position: absolute;
  width: calc(100% - 26px);
  top: 38px;
  right: 14px;
  left: 12px;
  height: 58px;
  overflow: hidden;
  font-size: var(--large-default-subhead-size);
}
.ellipses-icon1 {
  position: relative;
  width: 23px;
  height: 5px;
  display: none;
}
.now1 {
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: -0.08px;
  line-height: 18px;
  background: linear-gradient(#3f3f3f, #3f3f3f), rgba(0, 0, 0, 0.05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right-item-dots-or-text1 {
  position: absolute;
  top: 13px;
  right: 16px;
  width: 23px;
  height: 18px;
  text-align: right;
}
.app-name1 {
  position: absolute;
  top: 1px;
  left: 26px;
  letter-spacing: -0.08px;
  line-height: 18px;
  background: linear-gradient(#3f3f3f, #3f3f3f), rgba(0, 0, 0, 0.05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app-icon-name1,
.app-icon2 {
  position: absolute;
  height: 20px;
}
.app-icon2 {
  top: 0;
  left: 0;
  border-radius: 4.33px;
  width: 20px;
  object-fit: cover;
}
.app-icon-name1 {
  top: 10px;
  left: 10px;
  width: 96px;
}
.notification {
  position: absolute;
  width: calc(100% - 16px);
  top: 240px;
  right: 8px;
  left: 8px;
  border-radius: var(--br-smi);
  background-color: var(--color-whitesmoke-200);
  backdrop-filter: blur(54.37px);
  height: 106px;
  font-size: var(--xsmall-callout-size);
  color: var(--label-color-light-primary);
}
.lockscreen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8e8e93;
  width: 375px;
  height: 812px;
  color: var(--label-color-dark-primary);
}
.screns {
  position: absolute;
  top: 31px;
  left: 73px;
  width: 2450px;
  height: 814px;
}
.rectangle-parent {
  position: relative;
  width: 100%;
  height: 909px;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--large-default-body-size);
  color: var(--label-color-light-primary);
  font-family: var(--title2-regular);
}
